# FastAPI and server
fastapi
uvicorn[standard]

# HTTP requests
requests

# Data validation
pydantic

# Environment variables
python-dotenv

# Computer Vision and ML
torch
ultralytics
opencv-python
Pillow
numpy<2.0

# Vector Search
pinecone
open_clip_torch


python-multipart
